/*Stylesheet typography organization */

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #F6F9FC;
}

h1 {
  font-size: 3.3em;
}

h2 {
  font-size: 2.4em;
  color: #7C4FF8;
  font-weight: 900;
}

h3 {
  font-size: 1.999em;
  color: #868686
}

h4 {
  font-size: 1.414em;
  font-weight: 300;
}

h4 span {
  padding-left: 30px;
}

p {
  color: #868686;
  line-height: 1.9rem;
}

ul {
  color: #868686;
  line-height: 1.9rem;
}

a {
  text-decoration: none;
  color: #7C4FF8;
  padding-bottom: 2px;
  border-bottom: 1px solid #7C4FF8;
}

a:hover {
  text-decoration: none;
}


/* utility classes */

.mt40 {
  margin-top: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

.pt20 {
  padding-top: 20px;
}


nav {
  text-align: center;
}

.nav-wrap {
  box-shadow: 0 2px 4px rgba(3,27,78,.1);
}

.nav-elements {
  padding: 20px 0 0 0;
}

.nav-elements a {
  color: #7C4FF8;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
  padding-bottom: 2px;
}

.nav-elements a:hover {
  border-bottom: 1px solid #7C4FF8;
}

.nav-elements li {
  display: inline-block;
  padding: 0 20px 0 20px;
}

.intro-bullets {
  margin: 30px 0 30px 0;
}

.divider {
  border-top: 1px solid #b4b6bb;
  padding-top: 15px;
}

.secondary-heading {
  font-weight: 500;
}
